= form_for [@quizz,@question] do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= t('question.save.error', count: @question.errors.count)
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :text
    = f.text_field :text, :class => 'form-control'
  .form-group
    = f.submit t('save'), :class => 'btn btn-success'
