%h1 Listing questions

%table
  %thead
    %tr
      %th Text
      %th Exam
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.text
        %td= question.exam.name
        %td= link_to 'Show', exam_question_path(question.exam, question)
        %td= link_to 'Edit', edit_exam_question_path(question.exam, question)
        %td= link_to 'Destroy', exam_question_path(question.exam, question), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question', new_exam_question_path(@exam)
