%p#notice= notice


.row
  .col-md-12
    %h1
      =t('quizz.name')
      =@question.quizz.name

    %h2
      =t('question.name')
      =@question.text

    %p
      =t('question.answer.list')

    -if @question.has_only_false_answer
      .alert.alert-warning{:role => 'alert'}
        %strong=t('warning')
        =t('question.answer.no_correct')

    %table.table.table-striped
      %thead
        %tr
          %th=t('answer.name')
          %th=t('answer.is_correct')
          %th=t('actions')

      %tbody
        - @question.answers.each do |answer|
          %tr
            %td= answer.text
            %td= answer.is_correct
            %td
              = link_to edit_quizz_question_answer_path(answer.question.quizz, answer.question, answer) do
                %span.glyphicon.glyphicon-pencil
              = link_to quizz_question_answer_path(answer.question.quizz, answer.question, answer), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash

= link_to t('question.edit.action'), edit_quizz_question_path(@question.quizz, @question)
\|
= link_to t('question.answer.add'), new_quizz_question_answer_path(@question.quizz, @question)
\|
= link_to t('backQuizz'), quizz_path(@question.quizz)
