%p#notice= notice

%p
  %b Text:
  = @question.text
%p
  %b Exam:
  = @question.exam.name

= link_to 'Edit', edit_exam_question_path(@question.exam, @question)
\|
= link_to 'Back', exam_questions_path(@exam)
