%p#notice= notice


.row
  .col-md-12
    %h1
      Exam:
      =@question.exam.name

    %h2
      Question:
      =@question.text

    %p List of all possibles answers:

    -if @question.has_only_false_answer
      .alert.alert-warning{:role => 'alert'}
        %strong Warning!
        This question does not have a correct answer

    %table.table.table-striped
      %thead
        %tr
          %th Answer
          %th Is correct?
          %th Actions?

      %tbody
        - @question.answers.each do |answer|
          %tr
            %td= answer.text
            %td= answer.is_correct
            %td
              = link_to edit_exam_question_answer_path(answer.question.exam, answer.question, answer) do
                %span.glyphicon.glyphicon-pencil
              = link_to exam_question_answer_path(answer.question.exam, answer.question, answer), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash

= link_to 'Edit question', edit_exam_question_path(@question.exam, @question)
\|
= link_to 'Add answer', new_exam_question_answer_path(@question.exam, @question)
\|
= link_to 'Back to exam', exam_path(@question.exam)
