%h1=t('exams.list')
.row
  .col-md-12

    %table.table.table-striped
      %thead
        %tr
          %th= t('exams.name')
          - if user_signed_in?
            %th= t('actions')

      %tbody
        - @exams.each do |exam|
          %tr
            %td= link_to exam.name, exam
            - if user_signed_in?
              %td
                = link_to edit_exam_path(exam) do
                  %span.glyphicon.glyphicon-pencil
                = link_to exam, :method => :delete, :data => { :confirm => t('delete.confirm') } do
                  %span.glyphicon.glyphicon-trash