= form_for [@question.exam, @question, @answer] do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2= t('answer.save.error', count: @answer.errors.count)
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :text
    = f.text_field :text, :class => 'form-control'
  .checkbox
    = f.label :is_correct do
      = f.check_box :is_correct
      Is correct
  .form-group
    = f.submit t('save'), :class => 'btn btn-success'
