%p#notice= notice

%p
  %b Text:
  = @answer.text
%p
  %b Question:
  = @answer.question_id
%p
  %b Is correct:
  = @answer.is_correct

= link_to 'Edit', edit_exam_question_answer_path(@answer.question.exam, @answer.question, @answer)
\|
= link_to 'Back', exam_question_answers_path(@question.exam, @question)
