= form_for @quizz do |f|
  - if @quizz.errors.any?
    #error_explanation
      %h2= t('quizz.save.error', count: @quizz.errors.count)
      %ul
        - @quizz.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :intro_text
    = f.text_area :intro_text, :class => 'form-control', :rows => 5
  .form-group
    = f.submit t('save'), :class => 'btn btn-success'
