%p#notice= notice

.page-header
  %h1= @quizz.name
.well
  %p= @quizz.intro_text

-unless @errors.nil?
  -unless @errors.any?
    .alert.alert-success{:role => 'alert'}
      %strong= t('quizz.answer.congrats.head')
      =t('quizz.answer.congrats.message')

= form_tag(validate_quizz_path(@quizz), method: :post) do
  - @quizz.questions.each do |question|
    = render 'question', :question => question
  =submit_tag(t('quizz.answer.action'), :class => 'btn btn-sm btn-success')

%br
%br
-if user_signed_in?
  = link_to t('quizz.edit.name'), edit_quizz_path(@quizz)
  \|
= link_to t('back'), quizzs_path
