= form_for @exam do |f|
  - if @exam.errors.any?
    #error_explanation
      %h2= t('exam.save.error', count: @exam.errors.count)
      %ul
        - @exam.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :minimal_score
    = f.number_field :minimal_score, :class => 'form-control'
  .form-group
    = f.label :quizzs
    = f.collection_select(:quizz_ids, Quizz.all, :id, :name, {:prompt_text => t('exam.form.select_quizzs')},{:multiple => true})
  .form-group
    = f.submit t('save'), :class => 'btn btn-success'