%p#notice= notice

.page-header
  %h1= @exam.name
.well
  %p= @exam.intro_text

-unless @errors.nil?
  -unless @errors.any?
    .alert.alert-success{:role => 'alert'}
      %strong Well done!
      You successfully answer all the question

= form_tag(validate_exam_path(@exam), method: :post) do
  - @exam.questions.each do |question|
    = render 'question', :question => question
  =submit_tag('Send my answers', :class => 'btn btn-sm btn-success')

= link_to 'Edit', edit_exam_path(@exam)
\|
= link_to 'Back', exams_path
