%p#notice= notice

%h1= @exam.name

%p
  = @exam.intro_text

- @exam.questions.each do |question|
  = render 'question', :question => question

= link_to 'Edit', edit_exam_path(@exam)
\|
= link_to 'Back', exams_path
